#IO_Section{
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  background-image: url("../assets/tree.png");
  background-position: right;
  background-repeat: no-repeat;
}

#inputs, #outputs{
  gap: 50px;
}


.card{
    width: 330px;
}


.card-img{
    height: 180px;
    object-fit: cover;

}

.card img{
    width: 100%;
    height: 100%;
}
.caption{
    padding: 20px 0px;
}



/* @media (max-width: 1200px) {
  #inputs {
    flex-direction: column;
    align-items: center;
  }
} */
