.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  color: var(--primary-color);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 2px 0;
  border-radius: 5px;
  transition: 0.3s;
}

/* Nav menu is hidden by default (collapsed) and expands via max-height
   Use overflow:auto so long menus are scrollable on small screens */
.nav-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  gap: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out;
  z-index: 100;
}

.nav-menu ul { padding: 20px 0; margin: 0; }
.nav-menu li { display: block; margin: 15px 0; }

.nav-menu.active {
  max-height: 500px;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav li:nth-child(-n+3):hover {
  border-bottom: 3px solid var(--primary-color);
}

@media (max-width: 992px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar ul {
    display: none;
  }

  .hamburger {
    display: flex;
  }


  .nav-menu {
    display: flex;
  }

}
