.hero {
  height: clamp(40vh, 70vh, 90vh);
  padding: 100px;
  background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top;
  color: white;
}

.hero > div {
  margin-top: 10vh;
  width: 50%;
  float: left;
}

.section {
  display: flex;
  gap: 50px;
}

.section img {
  width: 480px;
  float: right;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.left img{
  float: left;
}

#goal {
  text-align: center;
  padding: 60px;
  width: 60%;
  margin: auto;
  color: var(--tertiary-color);
}

#goal h2 {
  color: var(--tertiary-color);
}

.color-section {
  background-color: var(--primary-color);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.material-symbols-outlined {
  color: var(--tertiary-color);
  font-size: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@media (max-width: 576px) {
  .hero {
    height: auto;
    text-align: center;
  }
  .hero div {
    width: 100%;
    float: none;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

  }

  .nav-menu.active {
    max-height: 300px;
  }

  .nav-menu li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero div {
    width: 100%;
    float: none;
  }

  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right,
  .left {
    width: 100%;
  }

  #factors {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
