.card{
    width: 330px;
    margin-right: 30px;
}


.card-img{
    height: 180px;
    object-fit: cover;

}

.card img{
    width: 100%;
    height: 100%;
}
.caption{
    padding: 20px 0px;
}



@media (max-width: 1200px) {
  #inputs {
    flex-direction: column;
    align-items: center;
  }
}
