.card{
    width: 330px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: lightgrey;
}


.card-img{
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}

.card img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.caption{
    padding: 20px;
    
}



@media (max-width: 1200px) {
  #inputs {
    flex-direction: column;
    align-items: center;
  }
}
